import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  selector: 'app-icon[<%= selector %>]',
  standalone: true,
  template: `<%- svgCode %>`,
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= componentName %>Component {
}
